/* body {
    position:absolute
} */

#top {
    background-color: rgb(77, 72, 72);
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    border: 100%;
    padding: 0%;
    margin: 0px;
  }

#right { background-color: lightgrey;
    position: absolute;
    right: 0%;
    top: 15vh;
    height: 85vh;
    width: 10vw;
    
}

#left { background-color: lightgrey;
    position: absolute;
    top: 15vh;
    left: 0%;
    height: 85vh;
    width: 10vw;
    
}

#bottom {
    
    background-color: black;
    position: fixed;
    
    left: 10vw;
    bottom: 0%;
    height: 8vh;
    width: 80vw;
    
    
  }
